:root {
    --foody-primary-color: #fef301;
    --foody-secondary-color: #01c324;
    --foody-tertiary-color: #454545;
}

/* products page */

.btn-icon {
    background-color: transparent;
    /* Transparent background */
    border: none;
    /* No border */
    padding: 0;
    /* Remove default padding */
}

.btn-icon .tf-icons {
    color: inherit;
    /* Inherit color from button */
    font-size: 1.25rem;
    /* Adjust icon size as needed */
}

.btn-icon:hover {
    background-color: inherit;
    /* Take background color from icon */
}

.btn-icon:hover .tf-icons {
    color: #fff;
    /* White icon color on hover */
}